@{
    ViewBag.Title = "Add";
}

@model DAL.Models.Questionare

<h3>Nowy kwestionariusz</h3>

<div id="questionare_content">
    <h2 class="title">@Model.Name</h2>
    <ul class="questions_list list-unstyled" data-bind="foreach: questions">
        <li>
            <div class="row">
                <div class="row">
                    <div class="lp">
                        <label data-bind="text: lp" style="float: left; font-size: 16px; margin-right: 25px;"></label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" placeholder="Treść pytania" data-bind="value: question" />
                    </div>
                    <div class="actions">
                        <i class="fa fa-floppy-o fa-2x"></i>
                        <i class="fa fa-trash fa-2x" style="color: red;" data-bind="click: remove"></i>
                    </div>
                </div>
                <div class="answers" data-bind="foreach: answers">
                    <div class="answer" data-bind="visible: $parent.answerVisible">
                        <input type="checkbox" data-bind="visible: $parent.manyAnswer" />
                        <input type="radio" data-bind="visible: $parent.singleAnswer, attr: { name: lp}" />
                        <input type="text" data-bind="value: optionText" />
                    </div>
                </div>
                <label class="addAnswerLabel" data-bind="click: addAnswer, visible: answerVisible">Dodaj odpowiedź</label>
            </div>
        </li>
    </ul>
    <input type="button" value="Zapisz" data-bind="click: save" />
</div>

<div id="right_menu" data-bind="with: LeftMenuVM">
    <div class="list-group">
        <a href="#" class="list-group-item active">
            Rodzaje pytań
        </a>
        <a href="#" class="list-group-item" data-bind="click: singleQuestion">Jedna odpowiedź</a>
        <a href="#" class="list-group-item" data-bind="click: manyAnswerQuestion">Wiele odpowiedzi</a>
        <a href="#" class="list-group-item" data-bind="click: openQuestion">Otwarte</a>
    </div>
</div>

<div class="modal fade" id="saved_result_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Twoja ankieta została zapisana pomyślnie </h4>
            </div>
            <div class="modal-body">
                <label>Link do ankiety</label>
                <span id="questionare_link"></span>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn-primary custom_button modal_button" value="Zamknij" data-dismiss="modal" />
            </div>
        </div>
    </div>
</div>

<script>

    var LeftMenuVM;
    var NewQuestionareFormVM;

    $(document).ready(function () {

        NewQuestionareFormVM = new newQuestionareFormVM(@Model.Id);
        LeftMenuVM = new leftMenuVM();

        ko.applyBindings(NewQuestionareFormVM, document.getElementById("#questionare_content"));
    });
</script>

@section Scripts
{
    @Scripts.Render("~/Scripts/ViewModels/NewQuestionareFormVM.js")
    @Scripts.Render("~/Scripts/ViewModels/QuestionVM.js")
    @Scripts.Render("~/Scripts/ViewModels/QuestionOptionVM.js")
    @Scripts.Render("~/Scripts/ViewModels/LeftMenuVM.js")
    @Styles.Render("~/Content/Add.css")
}
